.info {
    width: 500px;
    display: flex;
    justify-content:center;
    color: rgb(22, 20, 20);
    text-align: center;
    gap: 20px;
}
  
.player {
    border: 2px solid black;
    border-radius: 20px;
    padding: .5rem 0;
    display: flex;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    justify-content: center;
    width: 500px;
   
}
